apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    app: teamspeak
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
{{- if .Values.service.annotations }}
  annotations:
{{ tpl (toYaml .Values.service.annotations) . | indent 4 }}
{{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if and (eq .Values.service.type "LoadBalancer") ( .Values.service.ip ) }}
  loadBalancerIP: {{ .Values.service.ip }}
  {{- end }}
  {{- if and (eq .Values.service.type "LoadBalancer") ( .Values.service.externalIPs ) }}
  externalIPs:
  {{- toYaml .Values.service.externalIPs | nindent 6 }}
  {{- end }}
  ports:
    - nodePort: {{ .Values.service.nodePort }}
      targetPort: 9987
      protocol: UDP
      name: teamspeak-voice
      port: 9987
    {{- if and (.Values.service.tcp.enabled) (eq .Values.service.tcp.type "combined") }}
    - name: teamspeak-filetransfer
      port: 30033
      targetPort: 30033
      protocol: UDP
    - name: teamspeak-serverquery
      port: 10011
      targetPort: 10011
      protocol: UDP
    {{- end}}
  selector:
    app: teamspeak
    release: {{ .Release.Name }}
